asgiref
beautifulsoup4
Brotli
certifi
chardet
click
coreapi
coreschema
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
deprecation
Django==3.2
django-appconf
django-background-tasks
django-bootstrap4
django-compat
django-compressor
django-filter
django-plotly-dash
djangorestframework
dpd-components
drf-yasg
Flask
Flask-Compress
future
idna
inflection
itsdangerous
itypes
Jinja2
libsass
Markdown
MarkupSafe
packaging
plotly
pyparsing
pytz
rcssmin
requests
retrying
rjsmin
ruamel.yaml
ruamel.yaml.clib
six
smbus2
soupsieve
sqlparse
uritemplate
urllib3
Werkzeug
